 /* COMMON CSS START HERE */
html{
    background-color: #fff !important;
}
.container-main{
    overflow-x: hidden;
}
.card-selected {
    background-color: #1C4F8B;
    color: #fff;
    border-radius: 5px;
}
.card-default  {
    background-color: #E5E5E5;
    color:#4B4B4B;
    border-radius: 5px;
}
.card-header h2{
    font-size:16px;
}
.card-details{
    flex-wrap: wrap;
    row-gap: 1rem;

 }
.card-btn div{
    display: flex;
    padding: 10px;
     color: #3F3F40;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     flex-wrap: wrap;
 }
 
 .card-btn .text-86{
     font-size: 20px;
     padding: 0 9px 0 5px;
     color: #646466;
 }

 .card-btn .slds-badge{
     font-size: 10px;
     background-color: #fff;
 }
/* indicator high */
.card-btn .indicator-btn-high{
    background-color: #AAFFE0;
}
.card-btn .indicator-btn-high .slds-badge{
    color: #06A59A;
}
/* indicator medium */
.card-btn .indicator-btn-medium{
    background-color: #FFDEBF;

}
.card-btn .indicator-btn-medium .slds-badge{
    color: #FB8111;
}
/* indicator low */
.card-btn .indicator-btn-low{
    background-color: #FFC6C6;
}
.card-btn .indicator-btn-low .slds-badge{
    color:#FA4A4A;

}

 /* COMMON CSS END HERE */

/* ONE COLUMN LAYOUT START */
.slds-size_12-of-12{
    display: flex;
    align-items: center;
}

.slds-size_12-of-12 .slds-size_8-of-12 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slds-size_12-of-12 .slds-size_8-of-12 .card-header h2{
    padding-left: 15px;
}

.slds-size_12-of-12 .slds-size_8-of-12 .card-details{
    display: flex;
    justify-content: space-between;
}
.slds-size_12-of-12 .slds-size_8-of-12 .card-details .border-left{
    border-left:1px solid #fff;
}
.slds-size_12-of-12 .slds-size_8-of-12 .card-details .border-right{
    border-right:1px solid #fff;
}

 .slds-size_12-of-12 .slds-size_8-of-12 .card-details span  {
    text-align: center;
}
/* ONE COLUMN LAYOUT END */

/* TWO COLUMN LAYOUT START */
.slds-size_6-of-12{
    position: relative;
}

.slds-size_6-of-12 .slds-size_8-of-12  .card-header{
    padding: 10px;
}
.slds-size_6-of-12 .slds-size_8-of-12  .card-header h2{
    padding-left: 5px;
}
.slds-size_6-of-12 .slds-size_8-of-12 .card-details{
    padding-top: 0px;
}

.slds-size_6-of-12 .card-btn .indicator-btn-medium{
    position:absolute;
    top:20px;
    margin-right: 40px !important;
    padding: 5px;
}

/* TWO COLUMN LAYOUT END */


/* THREE COLUMN START*/
.card-three-column{
    position: relative;
}

.card-three-column  .slds-size_8-of-12{
    width: 100%;
}
.card-three-column  .slds-size_8-of-12 .card-header h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 45%;
    padding-left: 15px;
}
.card-three-column  .slds-size_8-of-12 .card-details{
    padding-top: 12px;
}

.card-three-column  .card-btn {
    position: absolute; 
    top: 10px; 
    right: 20px; 
    width: 50%;
}

/* THREE COLUMN END*/

